/*MAIN PAGE*/
body{
    font-family: sans-serif;
    background-color: blanchedalmond;
}

header{
    text-align: left;
}

h1, h2{
   text-align: center;
   color: rgb(187, 56, 56);
}

header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    color: black;
}

main p{
    text-align: center;
}

footer{
    background-color: rgb(236, 183, 145);
}

.Description{
    font-size: large;

}
a{
    width: 200px;
    length: 200px;
}

/*DESSERT MENU*/

body{
    font-family: sans-serif;
}

header{
    text-align: center;
    background-color: rgb(194, 31, 31);
}

main{
      background-color: aquamarine;
}

footer{
    background-color: greenyellow;

}

footer h2{
    text-align: center;
    
}

header a{
    display: flex;
    flex-wrap: wrap;
}
