body{
    font-family: sans-serif;
}

header{
    text-align: center;
    background-color: green;
}

td{
    border: 1px solid white;
}

main{
      background-color: aquamarine;
}

footer{
    background-color: greenyellow;

}

footer h2{
    text-align: center;
    
}

header a{
    display: flex;
    flex-wrap: wrap;
}

table{
    border: 1px solid white;
}
